

:root{
  --brown: #BC9476;
  --brightred: #f9423d;
  --white: #fff;
  --black: #030000cc;
}

#intern-link {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 50rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    font-family: 'DM Sans', sans-serif;
}

#intern-link a:hover {
    color: white;
    background-color: var(--brown);
}

#intern-link a {
    color: black;
}