
h3 {
    max-width: 80%;
    margin: auto;
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
  }

.text-center p{
    
    width: 500px; 
    border: 10px solid #000000;
}


