@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');


:root{
  --brown: #BC9476;
  --brightred: #f9423d;
  --white: #fff;
  --black: #030000cc;
}
	
body,
html {
    margin: auto;
    padding: auto;
    height: 100%;
    background-image: url(/public/images/webshop/background.png);
}
    
.register_card {
    height: 650px;
    width: 750px;
    margin-top: 5.5rem;
    margin-bottom: 1.5rem;
    background: var(--brown);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: var(--black);
    padding: 10px;
    text-align: center;
}
    
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid var(--brown);
}
    
.form_container {
    margin-top: 100px;
}
    
.login_btn {
    width: 100%;
    background: var(--black) !important;
    color: white !important;
}
    
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}
    
.input-group-text {
    background: var(--white) !important;
    color: var(--brown) !important;
    border-radius: 2rem 0 0 2rem !important;
}
    
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login-overlay a{
    text-decoration: none;
}

.login-overlay a:hover{
    text-decoration: none;
    color: var(--white);
}

#register-message{
    display: none;
}
