@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');


:root{
  --brown: #BC9476;
  --brightred: #f9423d;
  --white: #fff;
  --black: #030000cc;
}
	
body,
html { 
    margin: auto;
    padding: auto;
    height: 100%;
    background-image: url(/public/images/webshop/background.png);
}
    
.Show-card {
    height: 400px;
    width: 400px;
    margin-top: 5.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    background: var(--brown);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.brand_logo_container {
    position: absolute;
    margin-left: 5.5rem;
    margin-right: 1.5rem;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: var(--black);
    padding: 10px;
    text-align: center;
}
    
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid var(--brown);
}
    
.form_container {
    margin-top: 100px;
}

#show{
    color: var(--white);
}

.container .row{
    color: var(--white);
    margin-left: 5.5rem;
    margin-right: 1.5rem;
}

#btn-show{
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: auto;
}

#danger{
    background-color: var(--brightred);
}

#nav-admin{
    margin-top: 1rem;
    color: var(--white);
    font-size: 25px;
    text-decoration: none;
}

#nav-admin a{
    margin-top: 0.50rem;
    color: var(--white);
    font-size: 15px;
    text-decoration: none;
}

#nav-admin a:hover{
    color: var(--black);
}
#fullName{
    color: var(--black);
    font-size: 20px;
    text-decoration: none;
}
